 <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="activityTypeDetailsModalLabel{{ activity.activity_type.id }}">Activity Type Details</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <strong>{{ activity_type.type_name }}</strong> ({{activity_type.type_name_pl}})<br>
            <p>{{activity_type.type_description}}</p>
        </div>
        <div class="modal-footer">
        </div>
    </div>
 </div>
