 <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="activityModalLabel{{ activity.id }}">Activity details</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <strong>{{ activity.course }} course {{ activity.activity_type }}</strong><br>
            {{ activity.description }} <br>
            {{ activity.teacher.teacher_initials }}
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-warning" data-bs-dismiss="modal" hx-confirm="Are you sure you want to delete this activity? This action cannot be undone." hx-get="{% url 'timetable:delete_activity' timetable_id activity.id %}?year={{ request.GET.year }}&month={{ request.GET.month }}&day={{ request.GET.day }}">Delete</button>
            <button type="button" class="btn btn-primary" hx-get="{% url 'timetable:edit_activity' timetable_id activity.id %}?year={{ request.GET.year }}&month={{ request.GET.month }}&day={{ request.GET.day }}">Edit</button>
        </div>
    </div>
</div>
