{% extends "base_timetable.html" %}
{% load static %}

{% block title %}Day Timetable {{ day }}.{{ month }}.{{ year }}{% endblock %}

{% block content %}
<body>
    <div class="grid-container">
        <div class="header">
            <h1>Timetable - {{ day }}.{{ month }}.{{ year }}</h1>
        </div>
        <div class="calendar-navigation">
                <form action="{% url 'timetable:display_day' timetable_id year month day %}" method="post">
                    {% csrf_token %}
                    <div class="btn-group">
                        <button type="submit" class="btn btn-info" formaction="{% url 'timetable:details' timetable_id %}">Return</button>
                        <button type="submit" class="btn btn-info" formaction="{% url 'timetable:display_month' timetable_id year month %} ">Month</button>
                        <button type="submit" class="btn btn-info" formaction="{% url 'timetable:display_week_for_day' timetable_id year %}" name="day_and_month" value={{day}}_{{month}}>Week</button>
                    </div>
                    <br>
                    <div class="btn-group">
                        <button type="submit" class="btn btn-primary" name="change_value" value="-7"><<</button>
                        <button type="submit" class="btn btn-primary" name="change_value" value="-1"><</button>
                        <button type="submit" class="btn btn-primary" name="change_value" value="1">></button>
                        <button type="submit" class="btn btn-primary" name="change_value" value="7">>></button>
                    </div>
                </form>
        </div>
        <div class="grid-day">
            <div class="time-column">
            {% for time in timetable_times %}
            <div>{{ time|date:'H:i'}}</div>
            {% endfor %}
            </div>
            {% if track_number == 1 %}
            <div class="schedule-column-5">
            </div>
            {% elif track_number == 2 %}
            <div class="time-column">tttt</div>
            <div class="schedule-column-3">Tets</div>
            <div class="schedule-column-2">Tets</div>
            {% elif track_number == 3 %}
            <div class="time-column">tttt</div>
            <div class="schedule-column-2">Tets</div>
            <div class="schedule-column-2">Tets</div>
            <div class="schedule-column-1">Tets</div>
            {% elif track_number == 4 %}
            <div class="time-column">tttt</div>
            <div class="schedule-column-2">Tets</div>
            <div class="schedule-column-1">Tets</div>
            <div class="schedule-column-1">Tets</div>
            <div class="schedule-column-1">Tets</div>
            {% else %}
            <div class="time-column">tttt</div>
            <div class="schedule-column-1">Tets</div>
            <div class="schedule-column-1">Tets</div>
            <div class="schedule-column-1">Tets</div>
            <div class="schedule-column-1">Tets</div>
            <div class="schedule-column-1">Tets</div>
            {% endif %}

        </div>

    </div>
</body>
{% endblock %}


