 <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="activityModalLabel{{ activity.id }}Edit">Edit activity details</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ activity_form.as_p }}
                <button type="submit">Submit</button>
            </form>
        </div>
        <div class="modal-footer">

        </div>
    </div>
</div>
