{% extends "base_timetable.html" %}
{% load timetable_extras %}
{% load static %}
{% block title %}Month Timetable {{ month }}.{{ year }}{% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'timetable/style.css' %}">
<div class="grid-container">
    <div class="header">
        <h1>Timetable</h1>
        <h2>{{ month_name }} {{ year }}</h2>
    </div>
    <div class="calendar-navigation">
        <form action="{% url 'timetable:display_month' timetable_id year month %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-info btn-resp" formaction="{% url 'timetable:details' timetable_id %}"><strong class="btn-text">Return</strong></button>
            <br>
            <div class="btn-group">
                <button type="submit" class="btn btn-primary btn-resp" name="change_value" value="-12"><strong class="btn-text"><<</strong></button>
                <button type="submit" class="btn btn-primary btn-resp" name="change_value" value="-1"><strong class="btn-text"><</strong></button>
                <button type="submit" class="btn btn-primary btn-resp" name="change_value" value="1"><strong class="btn-text">></strong></button>
                <button type="submit" class="btn btn-primary btn-resp" name="change_value" value="12"><strong class="btn-text">>></strong></button>
            </div>
        </form>
        <br>
        <button class="btn btn-primary btn-resp" hx-get="{% url 'timetable:month_stats' timetable_id year month %}" hx-target="#dialog">
        <strong class="btn-text">Month stats</strong>
        </button>
    </div>
    <div class="month-calendar">
        <table>
            <tr>
                <th style="border-right: 4px solid;">Week</th>
                <th>Mon</th>
                <th>Tue</th>
                <th>Wed</th>
                <th>Thu</th>
                <th>Fri</th>
                <th>Sat</th>
                <th>Sun</th>
            </tr>
            {% for week in this_month %}
            <tr>
                <td style="border-right: 4px solid;" bgcolor="#0dcaf0">
                    {% if forloop.first and weeks_in_month|index:forloop.counter0 > 51 %}
                    <a class="link-plain" href="{% url 'timetable:display_week' timetable_id year|add:'-1' weeks_in_month|index:forloop.counter0 %}">
                        <strong>{{ weeks_in_month|index:forloop.counter0 }}</strong>
                    </a>
                    {% elif forloop.last and weeks_in_month|index:forloop.counter0 < 2 %}
                    <a class="link-plain" href="{% url 'timetable:display_week' timetable_id year|add:'1' weeks_in_month|index:forloop.counter0 %}">
                        <strong>{{ weeks_in_month|index:forloop.counter0 }}</strong>
                    </a>
                    {% else %}
                    <a class="link-plain" href="{% url 'timetable:display_week' timetable_id year weeks_in_month|index:forloop.counter0 %}">
                        <strong>{{ weeks_in_month|index:forloop.counter0 }}</strong>
                    </a>
                    {% endif %}
                </td>
                {% if forloop.counter == this_week %}
                    {% for day in week %}
                        {% if day == today %}
                            <td bgcolor="gold"><a class="link-plain" href="{% url 'timetable:display_day' timetable_id year month day %}">{{ day }}</a></td>
                        {% else %}
                            <td bgcolor="navyblue"><a class="link-plain" href="{% url 'timetable:display_day' timetable_id year month day %}">{{ day }}</a></td>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    {% for day in week %}
                        {% if forloop.parentloop.first and day > 7 %}
                            {% if month == 1 %}
                                <td bgcolor="lightgray">
                                    <a class="link-plain" href="{% url 'timetable:display_day' timetable_id year|add:'-1' 12 day %}">{{ day }}</a>
                                </td>
                            {% else %}
                                <td bgcolor="lightgray">
                                    <a class="link-plain" href="{% url 'timetable:display_day' timetable_id year month|add:'-1' day %}">{{ day }}</a>
                                </td>
                            {% endif %}
                        {% elif forloop.parentloop.last and day < 7 %}
                            {% if month == 12 %}
                                <td bgcolor="lightgray">
                                    <a class="link-plain" href="{% url 'timetable:display_day' timetable_id year|add:'1' 1 day %}">{{ day }}</a>
                                </td>
                            {% else %}
                                <td bgcolor="lightgray">
                                    <a class="link-plain" href="{% url 'timetable:display_day' timetable_id year month|add:'1' day %}">{{ day }}</a>
                                </td>
                            {% endif %}
                        {% else %}
                            <td><a class="link-plain" href="{% url 'timetable:display_day' timetable_id year month day %}">{{ day }}</a></td>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock %}
