<div class="modal-dialog">
    <form hx-post="{{ request.path }}" class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="renameTimetableModalLabel">Rename timetable</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            {{ rename_form.as_p }}
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>
