<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="timetableModalLabel{{ timetable_id }}Share">Share a timetable</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            {% if messages %}
              <ul class="messages">
                {% for message in messages %}
                  {% if message.tags %}
                    <li class="{{ message.tags }}">{{ message }}</li>
                  {% else %}
                    <li>{{ message }}</li>
                  {% endif %}
                {% endfor %}
              </ul>
            {% endif %}
            <p>Shareable link:</p>
            <strong>{{ share_link }}</strong><br>
        </div>
        <div class="modal-footer">
            {% if request.user == author %}
            <button type="button" class="btn btn-warning" data-bs-dismiss="modal" hx-confirm="Are you sure you want to make this timetable public? This action cannot be undone." hx-get="{% url 'timetable:publish_timetable' timetable_id %}">Make public</button>
            {% endif %}
        </div>
    </div>
</div>
