{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
<h3> Publicly available timetables:</h3>
{% if public_timetables %}
<ul class="timetable-list">
  {% for timetable in public_timetables %}
    <li class="timetable-item">
        <a href="{% url 'timetable:details' timetable.id %}">{{ timetable.timetable_name }}</a>
        by
        {% if timetable.author %}
        <a href="{% url 'authentication:user_profile' timetable.author %}">{{ timetable.author }}</a>
        {% else %}
        <i>anonymous user</i>
        {% if user.is_superuser or timetable.author %}
        <div class="btn-group">
            <button type="submit" class="btn btn-primary btn-medium" hx-get="{% url 'timetable:rename_timetable' timetable.id %}" hx-target="#dialog">
                <strong class="btn-medium-text">
                    Rename
                </strong>
            </button>
            <form action="{% url 'timetable:delete_timetable' timetable.id %}" onsubmit="return confirm('Are you sure you want to delete the timetable? This action cannot be undone.')">
                <button type="submit" class="btn btn-primary btn-medium">
                    <strong class="btn-medium-text">
                        Delete
                    </strong>
                </button>
            </form>
        </div>
        {% endif %}
        {% endif %}
    </li>
  {% endfor %}
</ul>
{% else %}
<h3 class="nothing-info">No public timetables available.</h3>
{% endif %}