{% extends "base_template.html" %}
{% load static %}

{% block content %}
<h1>Select mode</h1>
<form action="{% url 'timetable:display_current_month' timetable_id %}" method="post">
    {% csrf_token %}
    <input type="submit" value="Monthly display">
</form>
<form action="{% url 'timetable:display_current_week' timetable_id %}" method="post">
    {% csrf_token %}
    <input type="submit" value="Weekly display">
</form>
<form action="{% url 'timetable:display_current_day' timetable_id %}" method="post">
    {% csrf_token %}
    <input type="submit" value="Daily display">
</form>
{% endblock %}
