{% extends "base_template.html" %}
{% load static %}

{% block content %}
<div>
    <h2>Timetables</h2>
</div>
{% if user.is_authenticated %}
<div class="btn-group" style="float: right;">
    <button class="btn btn-primary btn-big" hx-get="{% url 'timetable:add_existing_timetable' %}" hx-target="#dialog">
        <strong class="btn-big-text">
            Add existing timetable
        </strong>
    </button>
    <button class="btn btn-primary btn-big" hx-get="{% url 'timetable:merge_timetable' %}" hx-target="#dialog">
        <strong class="btn-big-text">
            Merge timetables
        </strong>
    </button>
</div>
{% else %}
<div style="float: right;">
    <button class="btn btn-primary btn-big" hx-get="{% url 'timetable:merge_timetable' %}" hx-target="#dialog">
        <strong class="btn-big-text">
            Merge timetables
        </strong>
    </button>
</div>
{% endif %}
<div class="timetable-section">
    <div class="timetable-subsection" id="user-timetables" hx-trigger="load, timetable_changed from:body" hx-get="{% url 'timetable:user_list' %}" hx-target="this"></div>
    <div class="import_timetable">
        <form action="{% url 'timetable:import_ics_file' %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Import .ics file">
        </form>
    </div>
    <div class="timetable-subsection" id="public-timetables" hx-trigger="load, timetable_changed from:body" hx-get="{% url 'timetable:public_list' %}" hx-target="this"></div>
</div>
{% endblock %}
