{% load timetable_extras %}
<style>
    .grid-day {
        grid-template-columns:
        [time] .6fr
        [track1] {{tracks_width.0}}fr
        [track2] {{tracks_width.1}}fr
        [track3] {{tracks_width.2}}fr
        [track4] {{tracks_width.3}}fr
        [track5] {{tracks_width.4}}fr
        [track6] .1fr;
    }
</style>
{% if generate_time %}
    {% for time in timetable_times %}
    <div class="time-column" style="grid-row: {{time|date:'Hi'}}; font-size: 1.2vw;" >{{ time|date:'H:i'}}</div>
    {% endfor %}
{% else %}
    {% for time in timetable_times %}
    <div style="grid-row: {{time|date:'Hi'}};" ></div>
    {% endfor %}
{% endif %}
{% for activities in activities_tracks %}
{% for activity in activities %}
<div class="activity" hx-get="{% url 'timetable:activity_details' timetable_id activity.id %}" hx-target="#dialog" style="grid-row: {{activity.time_start|date:'Hi'}} / {{activity.time_end|date:'Hi'}}; grid-column: track{{forloop.parentloop.counter}}; margin-top: 50 px; background-color: {{ activity.activity_type.type_color }}">
    <button onclick="event.stopPropagation();" class="btn btn-link" hx-get="{% url 'timetable:course_details' timetable_id activity.course %}" hx-target="#dialog"><strong class="activity-text">{{ activity.course }}</strong></button> <br>
    <button onclick="event.stopPropagation();" class="btn btn-link" hx-get="{% url 'timetable:activity_type_details' activity.activity_type.id %}" hx-target="#dialog"><strong class="activity-text">{{ activity.activity_type }}</strong></button> <br>
    {% for teacher in activity.teacher.all %}
    <button onclick="event.stopPropagation();" class="btn btn-link" hx-get="{% url 'timetable:teacher_details' teacher %}" hx-target="#dialog"><strong class="activity-text">{{ teacher }}</strong></button>
    {% endfor %} <br>
    <p class="activity-text">{{ activity.time_start|date:'H:i' }} - {{ activity.time_end|date:'H:i' }}</p> <br>
    <p class="activity-text">{{ activity.description }}</p>
</div>
{% endfor %}
{% endfor %}