{% extends "base_template.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
<h1>Week {{ week_number }} {{ year }}</h1>
<table>
    <tr>
        <th>Mon</th>
        <th>Tue</th>
        <th>Wed</th>
        <th>Thu</th>
        <th>Fri</th>
        <th>Sat</th>
        <th>Sun</th>
    </tr>
        <tr>
            {% for day in this_week %}
                {% if day == today %}
                    <td bgcolor="yellow">{{ day }}</td>
                {% else %}
                    <td>{{ day }}</td>
                {% endif %}
            {% endfor %}
        </tr>
</table>
{% endblock %}
