{% extends "base_timetable.html" %}
{% load static %}

{% block title %}Week Timetable W{{ week_number }} {{ year }}{% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
<div class="calendar-navigation">
    <form action="{% url 'timetable:display_week' timetable_id year week_number %}" method="post">
        {% csrf_token %}
        <div class="btn-group">
            <button type="submit" class="btn btn-info" formaction="{% url 'timetable:details' timetable_id %}">Return</button>
            <button type="submit" class="btn btn-info" formaction="{% url 'timetable:display_month_for_week' timetable_id year %}" name="week_number" value={{week_number}}>Month</button>
        </div>
        <br>
        <div class="btn-group">
            <button type="submit" class="btn btn-primary" name="change_value" value="-2"><<</button>
            <button type="submit" class="btn btn-primary" name="change_value" value="-1"><</button>
            <button type="submit" class="btn btn-primary" name="change_value" value="1">></button>
            <button type="submit" class="btn btn-primary" name="change_value" value="2">>></button>
        </div>
    </form>
</div>
<div>
    <h1>Week {{ week_number }} {{ year }}</h1>
    <table>
        <tr>
            <th>Mon</th>
            <th>Tue</th>
            <th>Wed</th>
            <th>Thu</th>
            <th>Fri</th>
            <th>Sat</th>
            <th>Sun</th>
        </tr>
        <tr>
            {% for day in this_week %}
                {% if day == today %}
                    <td bgcolor="yellow"><a href="{% url 'timetable:display_day_for_week' timetable_id year day %}">{{ day }}</a></td>
                {% else %}
                    <td><a href="{% url 'timetable:display_day' timetable_id year month day %}">{{ day }}</a></td>
                {% endif %}
            {% endfor %}
        </tr>
    </table>
</div>

{% endblock %}
