{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
<h3>Public notes:</h3>
{% if notes_by_course %}
<ul class="note-list">
    {% for key, notes in notes_by_course.items %}
    <li><h4>{{ key }}</h4></li>
    {% for note in notes %}
    <ul class="note-sublist">
        <li class="note-item">
            <div style="display: flex; justify-content: space-between;">
                <h5>
                    <a href="{% url 'notes:details' note.id %}">{{ note.name }}</a>
                    {% if note.author %}
                    by
                    <a href="{% url 'authentication:user_profile' note.author %}"><i> {{ note.author }}</i></a>
                    {% else %}
                    <i>by anonymous user</i>
                    {% endif %}
                    on {{note.date_created|date:"d.m.Y, G:i"}}
                </h5>
                <strong style="text-align: right">{{note.timetable}}</strong>
            </div>

            <div class="btn-group" style="float: right;">
                {% if request.user.is_superuser or request.user == note.author %}
                <button type="submit" class="btn btn-primary btn-medium" hx-get="{% url 'notes:rename_note' note.id %}" hx-target="#dialog">
                    <strong class="btn-medium-text">
                        Rename
                    </strong>
                </button>
                <form action="{% url 'notes:delete_note' note.id %}" onsubmit="return confirm('Are you sure you want to delete the note? This action cannot be undone.')">
                    <button type="submit" class="btn btn-primary btn-medium">
                        <strong class="btn-medium-text">
                            Delete
                        </strong>
                    </button>
                </form>
                {% endif %}
            </div>
            <p>{{note.content|truncatechars:50}}</p>
            {% if note.date_modified != note.date_created %}
            <p style="text-align: right">Last modified: {{note.date_modified|date:"d.m.Y, G:i"}}</p>
            {% endif %}
        </li>
    </ul>
    {% endfor %}
    {% endfor %}

</ul>
{% else %}
<h3 class="nothing-info">Nothing here, you can add new notes using the 'add note' button.</h3>
{% endif %}