{% extends "base_template.html" %}
{% load static %}

{% block content %}
<div>
    <h2>Notes</h2>
</div>

{% if user.is_authenticated %}
<div class="btn-group" style="float: right;">
    <button class="btn btn-primary btn-big" hx-get="{% url 'notes:assign_note' %}" hx-target="#dialog">
        <strong class="btn-big-text">
            Add existing note
        </strong>
    </button>
    <button class="btn btn-primary btn-big" hx-get="{% url 'notes:add_note' %}" hx-target="#dialog">
        <strong class="btn-big-text">
            Add new note
        </strong>
    </button>
</div>
{% else %}
<div style="float: right;">
    <button class="btn btn-primary btn-big" hx-get="{% url 'notes:add_note' %}" hx-target="#dialog">
        <strong class="btn-big-text">
            Add new note
        </strong>
    </button>
</div>
{% endif %}

<div class="notes-section">
    <div class="notes-subsection" id="user-notes" hx-trigger="load, note_changed from:body" hx-get="{% url 'notes:user_list' %}" hx-target="this"></div>
    <div class="notes-subsection" id="public-notes" hx-trigger="load, note_changed from:body" hx-get="{% url 'notes:public_list' %}" hx-target="this"></div>
    <div class="notes-subsection" id="inactive-notes" hx-trigger="load, note_changed from:body" hx-get="{% url 'notes:inactive_list' %}" hx-target="this"></div>
</div>
{% endblock %}
