.aspectwrapper {
  display: inline-block;
  width: 100%;
  position: relative;
}
.aspectwrapper::after {
  padding-top: 100%;
  display: block;
  content: '';
}
.content {
  position: absolute;
  top: 0; bottom: 0; right: 0; left: 0;
  outline: thin dashed green;
  overflow: hidden;
}
body {
  background-color: #ffffff;
  font-size: 125%;
}
table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  text-align: center;
  padding: 10px;
  width: 14.2857%; /* 7days in row (100/7=14.2857) */
  height: 50px;
  border: 2px solid #000; /* calendar borders */
}

input[type=text], input[type=email], input[type=number] {
  border: 2px solid red;
  border-radius: 6px;
}

input[type=button], input[type=submit], input[type=reset] {
  background-color: #04AA6D;
  width: 100%;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;